@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
html, body {
  background-color:  #dbeafe; /* Replace with your desired background color */
  height: 100%;
}


.app {
  min-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}
.sidebar {
  flex: 1;
  max-width: 20%;
  background: url("sidebarbg.jpg") no-repeat fixed;
  background-color: #60a5fa;
}

.main-content {
  flex: 1;
  background-color: #dbeafe;
}

@media (max-width: 1237px) {
  .chart-container{
    margin: 0;
    margin-left: 2em;
  }
  .sidebar{
    display: none;
  }
  .minichart-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left:2em;
  }
  .minichart{
    text-align: left;
    margin-left: 0;
  }
   .chart{
    padding: 0;
    margin-left: 0;
  }
  .icon-container{
    display: none;
  }
  .flex{
    margin-left: 0;
  }

}
@media (max-width: 1237px) {
 .flex .icons{
    display: none;
  } 
}


::-webkit-scrollbar {
  width: 0em; 
  background-color: transparent;
}


