@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

.sidebar {
  flex: 1;
  max-width: 16.666%;
  background-color: #60a5fa;
}

.main-content {
  flex: 1;
}
